.titulo {
    text-align: center;
}
.comida {
    margin: 5%;
}
.bi-star-fill,
.bi-star-half {
    color: #ffee00;
}
.banner {
    padding: 1em;
    align-content: center;
}
.img-banner {
    border-radius: 5px;
}
